*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header{
    background: url(img/bg1copy.png);
    background-size: cover;
    background-repeat: no-repeat;
    &__logo{
       padding-top: 12px; 
    }
    &__block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__block-head{
        color: #ffffff;
        font-family: "Roboto Slab";
        font-size: 64px;
        font-weight: 700;
        text-align: center;
        margin-top: 60px;
    }
    &__block-text{
        color: #ffffff;
        font-family: "Roboto Slab";
        font-size: 40px;
        font-weight: 400;
        margin-top:50px;
        text-align: center;
    }&__block-btn{
        width: 366px;
        height: 74px;
        border-radius: 8px;
        background-color: #1086cb;
        border:none;
        outline: none !important;
        margin-top: 60px;
        margin-bottom: 80px;
        color: #ffffff;
        font-family: "Roboto Slab";
        font-size: 22px;
        font-weight: 700;
        &:active{
            background-color: #00324f;
        }
    }
}
.strategy{
    background: url(img/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 97px;
    &__header{
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 60px;
        font-weight: 700;
        text-align: center;
        margin-top: 120px;
        margin-bottom: 100px;
    }
    &__box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__box-img{
        margin-bottom: 38px;
    }
    &__box-text{
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 27px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 54px;
    }
    &__box-btn{
        width: 177px;
        height: 44px;
        border-radius: 10px;
        background-color: #1086cb;
        color: #ffffff;
        font-family: "Roboto Slab";
        font-size: 24px;
        font-weight: 400;
        outline: none !important;
        border: none;
        box-shadow: 0 2px 0 #00324f;
        &:active{
            background-color: #00324f;
        }
    }
    &__box2-img{
        margin-bottom: 45px;
    }
    &__box2-text{
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 27px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 56px;
    }
    &__box3-img{
        margin-bottom: 42px;
    }
    &__box3-text{
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 27px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 14px;
    }
    &__box4-img{
        margin-top: 79px;
        margin-bottom: 48px;
    }
    &__box4-text{
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 27px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 20px;
    }
    &__box5-img{
        margin-top: 52px;
        margin-bottom: 5px;
    }
    &__box5-text{
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 27px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 18px;
    }
}
.form{
    background-image: url(img/bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top:108px;
    padding-bottom: 90px;
    &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__box-header{
        color: #ffffff;
        font-family: "Roboto Slab";
        font-size: 60px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 79px;
    }
    &__box-email{
        width: 475px;
        height: 71px;
        border-radius: 5px;
        border: 2px solid #ffffff;
        outline: none;
        background: none;
        padding-left: 30px;
        caret-color: #84cdff;
        color: #84cdff;
        font-family: "Roboto Slab";
        font-size: 27px;
        font-weight: 400;
        margin-bottom: 31px;
        &::placeholder{
            color: #84cdff;
            font-family: "Roboto Slab";
            font-size: 27px;
            font-weight: 400;
        }
    }
    &__box-tel{
        width: 475px;
        height: 71px;
        border-radius: 5px;
        border: 2px solid #ffffff;
        outline: none;
        background: none;
        padding-left: 30px;
        caret-color: #84cdff;
        color: #84cdff;
        font-family: "Roboto Slab";
        font-size: 27px;
        font-weight: 400;
        &::placeholder{
            color: #84cdff;
            font-family: "Roboto Slab";
            font-size: 27px;
            font-weight: 400;
        }
    }
    &__box-btn{
        width: 474px;
        height: 83px;
        border-radius: 5px;
        background-color: #ffd200;
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 27px;
        font-weight: 700;
        outline: none !important;
        border: none;
        box-shadow: 0 2px 0 #9e8200;
        &:active{
            background-color: #9e8200;
        }
    }
}
.check {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 88px;
    margin-top: 17px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    color: #eaeaea;
    font-family: "Roboto Slab";
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
  }
.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 13px;
    border-radius: 2px;
    border: 1px solid #ffffff;
    background-color: none;
  }
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
.check input:checked ~ .checkmark:after {
    display: block;
  }
.check .checkmark:after {
    left: 4px;
    top: -2px;
    width: 5px;
    height: 10px;
    border: 1px solid white;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
  }
.map{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 83px;
    &__header{
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 60px;
        font-weight: 700;
    }
    &__number{
        width: 1539px;
        height: 315px;
        background-image: url(img/punktir.png);
        background-size: cover;
        display: flex;
        flex-direction: row;
        margin-top: 40px;
    }
    &__number1{
        margin-left: 270px;
        margin-top: 105px;
    }
    &__number2{
        margin-left: 135px;
        margin-top: 70px;
    }
    &__number3{
        margin-left: 130px;
        margin-top: 25px;
    }
    &__number4{
        margin-left: 192px;
        margin-top: -50px;
    }
    &__number-num{
        color: #f1b616;
        font-family: "Roboto Slab";
        font-size: 53px;
        font-weight: 700;
    }
    &__number-text{
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 27px;
        font-weight: 400;
    }
    &__img{
        margin-top: -180px;
        position:relative;
        padding-bottom: 175px;
        &:hover .map__img-text{
            opacity:1;
            transition: opacity 1s;
        }
    }
    &__img-text{
        position: absolute;
        background-image: url(img/blocktext.png);
        top: 150px;
        left: 170px;
        padding: 20px 40px 0px 80px;
        opacity: 0;
    }
}
.block{
    margin-bottom: 10px;
}
.block-header{
    color: #000000;
    font-family: "Roboto Slab";
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
}
.block-list{
    color: #000000;
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 400;
    margin:0px;
}
.search{
    padding-top: 153px;
    padding-bottom: 111px;
    background-image: url(img/bg4.png);
    background-size: cover;
    position: relative;
    &__box{
        background-image: url(img/detective.png);
    }
    &__header{
        color: #ffffff;
        font-family: "Roboto Slab";
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 119px;
        text-align: center;

    }
    &__title{
        color: #ffffff;
        font-family: "Roboto Slab";
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 320px;
    }
    &__list{
        line-height: 49.34px;
    }
    &__img{
        position: absolute;
        left: 800px;
        top:200px;
    }
    &__box2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__header2{
        text-align: center;
        color: #ffffff;
        font-family: "Roboto Slab";
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 84px;
    }
    &__btn{
        width: 414px;
        height: 79px;
        border-radius: 8px;
        background-color: #1086cb;
        color: #ffffff;
        font-family: "Roboto Slab";
        font-size: 26px;
        font-weight: 700;
        outline: none !important;
        border: none;
        box-shadow: 0 2px 0 #00324f;
        &:active{
            background-color: #00324f;
        }
    }
}
.schedule{
    padding-top: 111px;
    padding-bottom: 182px;
    background-image: url(img/bg5.png);
    background-size: cover;
    margin-top:-10px;
    &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__box-header{
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 60px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 44px;
    }
    &__box-name{
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 25px;
    }
    &__box-img{
        padding-bottom: 52px;
    }
    &__box-text{
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 31px;
        font-weight: 400;
        margin-bottom: 75px;
    }
    &__box-namefigure{
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 43px;
        font-weight: 400;
        margin-bottom: 75px;
    }
    &__box-figure{
        position: relative;
        &:hover .schedule__box-figurehover{
            opacity:1;
            transition: opacity 1s;
        }
    }
    &__box-figurehover{
        position: absolute;
        background-image: url(img/texthover.png);
        background-size: cover;
        top: 15px;
        right: -125px;
        padding: 20px 80px 10px 35px;
        opacity: 0;

    }
    &__box-figurehover-header{
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 18px;
        font-weight: 700;
        margin: 0px;
        margin-top: 80px;
    }
    &__box-figurehover-list{
        font-family: "Roboto Slab";
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        margin:0px;
    }
}
span{
    font-weight: 700;
}
.franchise{
    position:relative;
    padding-bottom: 112px;
    &__anchor{
        position: absolute;
        left: 221px;
    }
    &__circle{
        position: absolute;
        right: 231px;
        top: 490px;
    }
    &__header{
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 60px;
        font-weight: 700;
        text-align: center;
        margin-top: 116px;
    }
    &__text{
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 36px;
        margin-top: 87px;
    }
    &__text1{
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 36px;
    }
    &__text2{
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 24px;
        font-weight: 400;
    }
    &__box{
        width: 415px;
        background-image: url(img/bg7.png);
        background-repeat: no-repeat;
        padding-left: 65px;
        padding-bottom: 50px;
        margin-top: 87px;

    }
    &__box-header{
        color: #ffffff;
        font-family: "Roboto Slab";
        font-size: 32px;
        font-weight: 700;
        padding-left: 38px;
        padding-top: 28px;
        margin-bottom: 25px;
    }
    &__box-text{
        color: #004372;
        font-family: "Roboto Slab";
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 20px;
        position: relative;
        &:before{
            content: url(img/gal.png);
            padding-right: 15px;
            position: absolute;
            left: -35px;
        }
    }
    &__box-text1{
        color: #ffffff;
        font-family: "Roboto Slab";
        font-size: 24px;
        font-weight: 400;
    }
}
.benefit{
    background-image: url(img/bg8.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 89px;
    &__header{
        color: #ffffff;
        font-family: "Roboto Slab";
        font-size: 60px;
        font-weight: 700;
        text-align: center;
    }
}
















    