*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header{
    background: url(img/bg1copy.png);
    background-size: cover;
    background-repeat: no-repeat;
    &__logo{
       padding-top: 12px; 
    }
    &__block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__block-head{
        color: #ffffff;
        font-family: "Roboto Slab";
        font-size: 64px;
        font-weight: 700;
        text-align: center;
        margin-top: 60px;
    }
    &__block-text{
        color: #ffffff;
        font-family: "Roboto Slab";
        font-size: 40px;
        font-weight: 400;
        margin-top:50px;
        text-align: center;
    }&__block-btn{
        width: 366px;
        height: 74px;
        border-radius: 8px;
        background-color: #1086cb;
        border:none;
        outline: none !important;
        margin-top: 60px;
        margin-bottom: 80px;
        color: #ffffff;
        font-family: "Roboto Slab";
        font-size: 22px;
        font-weight: 700;
        &:active{
            background-color: #00324f;
        }
    }
}
.strategy{
    background: url(img/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 97px;
    &__header{
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 60px;
        font-weight: 700;
        text-align: center;
        margin-top: 120px;
        margin-bottom: 100px;
    }
    &__box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__box-img{
        margin-bottom: 38px;
    }
    &__box-text{
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 27px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 54px;
    }
    &__box-btn{
        width: 177px;
        height: 44px;
        border-radius: 10px;
        background-color: #1086cb;
        color: #ffffff;
        font-family: "Roboto Slab";
        font-size: 24px;
        font-weight: 400;
        outline: none !important;
        border: none;
        box-shadow: 0 2px 0 #00324f;
        &:active{
            background-color: #00324f;
        }
    }
    &__box2-img{
        margin-bottom: 45px;
    }
    &__box2-text{
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 27px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 56px;
    }
    &__box3-img{
        margin-bottom: 42px;
    }
    &__box3-text{
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 27px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 14px;
    }
    &__box4-img{
        margin-top: 79px;
        margin-bottom: 48px;
    }
    &__box4-text{
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 27px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 20px;
    }
    &__box5-img{
        margin-top: 52px;
        margin-bottom: 5px;
    }
    &__box5-text{
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 27px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 18px;
    }
}
.form{
    background-image: url(img/bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top:108px;
    &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__box-header{
        color: #ffffff;
        font-family: "Roboto Slab";
        font-size: 60px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 79px;
    }
    &__box-email{
        width: 475px;
        height: 71px;
        border-radius: 5px;
        border: 2px solid #ffffff;
        outline: none;
        background: none;
        padding-left: 30px;
        caret-color: #84cdff;
        color: #84cdff;
        font-family: "Roboto Slab";
        font-size: 27px;
        font-weight: 400;
        margin-bottom: 31px;
        &::placeholder{
            color: #84cdff;
            font-family: "Roboto Slab";
            font-size: 27px;
            font-weight: 400;
        }
    }
    &__box-tel{
        width: 475px;
        height: 71px;
        border-radius: 5px;
        border: 2px solid #ffffff;
        outline: none;
        background: none;
        padding-left: 30px;
        caret-color: #84cdff;
        color: #84cdff;
        font-family: "Roboto Slab";
        font-size: 27px;
        font-weight: 400;
        &::placeholder{
            color: #84cdff;
            font-family: "Roboto Slab";
            font-size: 27px;
            font-weight: 400;
        }
    }
}


















    